@use './variables' as variables;

* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.dark {
  color: #fff;
  background-color: #000;
}

root {
  color: variables.$primary-blue;
}

a {
  text-decoration: none !important;
  color: variables.$primary-blue !important;
}
