ul{
    padding: 0px;
    margin: 0px;
}

li{
  padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    align-items: center;
}

.logo{
    width: 45px;
    height: 45px;
  }

  .bi{
   font-size: 1.2rem;
   color :#495057
  }

.nav-item-name{
  font-size: 0.7rem;
  color :#495057;
  font-weight:normal;
  text-wrap: nowrap;
}

.dark {
  .bi , .nav-item-name{
    color: #fff;
  }

}

