@use '../../base/variables';

.signin-btn {
  background-color: transparent;
}
.signin-btn:hover {
  background-color: variables.$hover--primary-blue;
}

.signin-btn-colored {
  background-color: variables.$primary-blue !important;
  color: white !important;
}

button {
  height: '50px';
  width: '300px';
}
