.card-profile{
    transform: translateY(-50px);
    color: #000;
    background-color: #fff;
}


.about{
    font-size: 0.78rem;
    font-weight: light;
    padding: 10px 0px;
}
.username{
    font-size: 1.3rem;
    padding: 10px 0px;
}

.location{
    font-size: 0.8rem;
    font-weight: lighter;
}

.company-logo{
    width: 20px;
    font-size: "0.7rem";
    color: rgba(128, 128, 128, 0.482);
    font-weight: lighter;
}
