@use '../../base/variables';

.support-link {
  text-decoration: none;
  display: inline;
  font-weight: bold;
  color: #0965c2;
}

.hm-banner {
  height: 500px;
}

.hm-banner-sm:not([id~='hm-small']) {
  height: 350px;
}

.gr-light-bg {
  background-color: variables.$primary-grey-light !important;
}

.gr-dark-bg {
  background-color: variables.$primary-grey-dark !important;
}

.bl-light-bg {
  background-color: variables.$hover--primary-blue;
}
.rd-header {
  color: variables.$primary-red;
}
.mainbanner-img {
  width: 350px;
  border-radius: 1%;
}

// .home-banner {
//   width: 80dvw;
// }

.header-banner {
  font-size: 1.7rem;
  font-weight: 400;
}
@media screen and (min-width: 810px) {
  .home-banner {
    width: 450px;
  }

  .hm-banner {
    height: 400px;
  }

  .header-banner {
    font-size: 1.6rem;
  }

  .mainbanner-img {
    width: clamp(450px, 100dvw, 500px);
    border-radius: 1%;
  }
}

@media screen and (min-width: 960px) {
  .header-banner {
    font-size: 2rem;
  }

  .hm-bn-header {
    font-size: 1.8rem;
  }

  .mainbanner-img {
    width: clamp(450px, 30dvw, 600px);
    border-radius: 1%;
  }

  .home-banner {
    width: 400px;
  }
}

#bg-gray {
  background-color: #f2f2f0;
}

#bg-light-red {
  background-color: #f1ebe4;
}

.home-sub-banner:not([id~='bg-light-red']):not([id~='bn-height-large']):not(
    [id~='bn-height-small']
  ) {
  height: clamp(200px, 100vh, 500px);
}

.home-sub-banner[id~='bg-light-red'] {
  height: clamp(200px, 100vh, 300px);

  button {
    color: variables.$primary-red;
    border: 2px solid variables.$primary-red !important;
  }
}

@media screen and (min-width: 768px) {
  .home-sub-banner:not([id~='bg-light-red']) {
    height: clamp(200px, 100vh, 350px);
  }

  .home-sub-banner[id~='bg-light-red'] {
    display: flex;
    flex-direction: column !important;
    height: clamp(200px, 100vh, 300px);
  }
}
